<section class="orders-show">
  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">

  <% lineItem_id = LineItem.find(@order.id).product_id %>
  <% lineItem_name = Product.find(lineItem_id).name %>
  <% lineItem_description = Product.find(lineItem_id).description %>
  <% lineItem_image = Product.find(lineItem_id).image %>
  <% lineItem_quantity =  LineItem.find(@order.id).quantity %>
  <% lineItem_price = LineItem.find(@order.id).item_price_cents %>
  <% lineItem_total = LineItem.find(@order.id).total_price_cents.inspect %>




  <table class="table table-bordered">
  <thead>
  <tr>
  <th colspan='2' >Product Name</th>
  <th>Description</th>
  <th>Quantity</th>
  <th>Price</th>
  </tr>
  </thead>
  <tbody>

    <th><%= image_tag lineItem_image.tiny %> </th>
    <th><%= lineItem_name %> </th>
    <th><%= lineItem_description %> </th>
    <th><%= lineItem_quantity %> </th>
    <th><%= humanized_money_with_symbol lineItem_price %> </th>


    
    </tbody>
    <tfoot>
    <tr>
    <th colspan="4">
    TOTAL:
    </th>
    <th>
    <%= humanized_money_with_symbol lineItem_total.to_i / 100.0 %>
    </th>
    </tr>
    </tfoot>
    </table>


  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
